<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangxiaofeng">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".myapp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.WordActivity"></activity>
        <activity android:name=".activity.MesActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.nurse_setting" />
        <activity android:name=".activity.NurseWork" />
        <activity android:name=".activity2.NurseMessage" />
        <activity android:name=".activity2.RoleWrong" />
        <activity android:name=".activity.ChooseRole">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>